---
import { FaWhatsapp } from "react-icons/fa";

import camila from "@assets/images/equipo/camila_eguiluz.jpg";
import karla from "@assets/images/equipo/karla_lopez.jpg";
import logo from "@assets/images/amai_logo.webp";
import { RxDoubleArrowDown } from "react-icons/rx";
import { Image } from "astro:assets";
---

<div class="flex justify-center md:px-10 xl:px-28 relative select-none">
  <div
    class="hidden sm:block absolute transform top-0 right-0 -translate-x-24 lg:-translate-x-40 xl:-translate-x-60 -translate-y-28 md:-translate-y-32"
  >
    <RxDoubleArrowDown
      className="absolute z-20 top-0 right-0 text-white animate-sink animate-duration-1000 animate-iteration-count-infinite"
      size={90}
    />
    <RxDoubleArrowDown
      className="absolute z-20 top-2 right-0  text-black opacity-50 animate-sink animate-duration-1000 animate-iteration-count-infinite"
      size={90}
    />
  </div>

  <div
    class="bg-white/95 w-full px-10 xl:px-20 py-8 md:py-4 -translate-y-0 shadow-lg md:opacity-65 md:hover:opacity-100 md:hover:rounded-3xl md:rounded-b-3xl md:hover:-translate-y-5 transition-all duration-300 ease-in-out"
  >
    <div class="grid grid-cols-1 md:space-y-0 md:grid-cols-3 items-center">
      <div class="flex justify-start order-last md:order-first">
        <a href="#equipo">
          <div class="flex flex-row items-center">
            <div
              class="w-11 h-11 overflow-hidden rounded-full border-2 border-caqua"
            >
              <Image
                src={camila}
                alt="Imagen camila"
                loading={"eager"}
                class="object-cover"
              />
            </div>

            <div
              class="w-11 h-11 overflow-hidden rounded-full border-2 border-caqua -translate-x-3"
            >
              <Image
                src={karla}
                alt="Imagen karla"
                loading={"eager"}
                class="object-cover h-full"
              />
            </div>

            <div>
              <h2
                class="text-sm sm:text-base font-semibold text-cgreen text-right"
              >
                Nuestro equipo
              </h2>
            </div>
          </div>
        </a>
      </div>

      <div class="text-center py-5 md:py-0">
        <Image
          src={logo}
          alt="Centro amai logo"
          loading={"eager"}
          class="w-28 md:w-14 m-auto"
        />
      </div>

      <div
        class="flex justify-end items-center gap-5 order-first md:order-last"
      >
        <a
          href="https://api.whatsapp.com/send?phone=56959905385"
          rel="noreferrer"
          target="_blank"
        >
          <div>
            <h2
              class="text-sm sm:text-base font-semibold text-cgreen text-right hover:opacity-50 transition-opacity duration-300 ease-in-out"
            >
              Agenda tu asesoría de orientación gratis
            </h2>
          </div>

          <a
            class="hover:opacity-50 transition-opacity duration-300 ease-in-out animate-pop animate-duration-1000 animate-iteration-count-infinite"
            href="https://api.whatsapp.com/send?phone=56959905385"
            rel="noreferrer"
            target="_blank"
            aria-label="Agenda tu asesoría de orientación gratis"
          >
            <FaWhatsapp size={42} className="text-[#25D366]" />
          </a>
        </a>
      </div>
    </div>
  </div>
</div>
