---
import { FaLocationDot, FaWhatsapp, FaRegClock } from "react-icons/fa6";
import { MdOutlineEmail } from "react-icons/md";
import HeaderItem from "./HeaderItem.astro";
---

<div
  class="grid grid-cols-2 gap-2 md:gap-5 md:grid-cols-4 justify-items-center pb-5"
>
  <HeaderItem icon={FaLocationDot}>
    <div class="w-3/4 text-center text-xs sm:text-sm text-cgray">
      <p class="inline-block">Las Rojas Poniente #1489</p>
      <p class="inline-block">La Serena, Chile.</p>
    </div>
  </HeaderItem>

  <HeaderItem icon={FaWhatsapp}>
    <a href="https://api.whatsapp.com/send?phone=56959905385">
      <p
        class="text-xs sm:text-sm text-center text-cgray underline hover:opacity-50 transition-opacity duration-300 ease-in-out"
      >
        +56 9 5990 5385
      </p>
    </a>
  </HeaderItem>

  <HeaderItem icon={MdOutlineEmail}>
    <a href="mailto:amaicentro@gmail.com">
      <p
        class="text-cgray text-xs sm:text-sm text-center underline hover:opacity-50 transition-opacity duration-300 ease-in-out"
      >
        amaicentro@gmail.com
      </p>
    </a>
  </HeaderItem>

  <HeaderItem icon={FaRegClock}>
    <div class="text-center text-xs sm:text-sm text-cgray">
      <p class="inline-block">Lun a Vie, 9:00 a 13:00 - 14:00 a 19:00 hrs</p>
      <p class="inline-block">Sáb, 9:00 a 14:00 hrs</p>
    </div>
  </HeaderItem>
</div>
