---
import { PiStarFourFill } from "react-icons/pi";

const { description } = Astro.props;
---

<li class="flex items-baseline justify-start gap-2">
  <PiStarFourFill className="text-accent-dark shrink-0 translate-y-0.5" />
  <p class="text-white">{description}</p>
</li>
