---
import type { IconType } from "react-icons";

interface Props {
  icon: IconType;
  title: string;
}

const { icon: Icon, title } = Astro.props;
---

<div
  class="flex flex-col justify-center items-center hover:-translate-y-2 transition-all duration-300 ease-in-out"
>
  <div class="my-4 relative">
    <Icon size={48} className="text-white/75 absolute z-10" />
    <div
      class="transform w-12 h-12 translate-x-4 translate-y-4 rounded-full bg-accent-normal/30"
    >
    </div>
  </div>

  <h2 class="text-white font-bold text-lg bg-accent-normal px-1 mt-4 mb-2 rounded-md">
    {title}
  </h2>

  <ul class="list-inside">
    <slot />
  </ul>
</div>
