---
import Layout from "../layouts/Layout.astro";

import { FaBaby, FaAppleWhole } from "react-icons/fa6";
import { PiStarFourFill } from "react-icons/pi";
import { MdBabyChangingStation } from "react-icons/md";
import ServicesCarousel from "@/components/ServicesCarousel";

import TeamSection from "@/components/team/TeamSection.astro";
import FrontCarousel from "@/components/frontcarousel/FrontCarousel";
import FooterCarousel from "@/components/frontcarousel/FooterCarousel.astro";
---

<Layout title="Welcome to Astro.">
  <main>
    <nav class="fixed z-10 w-full backdrop-blur-sm">
      <div class="flex justify-start items-center px-40 py-8 text-white gap-10">
        <h1 class="text-3xl">Logo Centro amai</h1>
        <h1 class="text-lg">Felipe</h1>
      </div>
    </nav>

    <!-- Carousel principa & footer -->
    <FrontCarousel client:load />
    <FooterCarousel />

    <!-- Carousel de servicios -->
    <div class="py-10">
      <ServicesCarousel client:load />
    </div>

    <!-- Sobre nosotros -->
    <div class="flex bg-white rounded-3xl mx-20 gap-5">
      <div
        class="flex flex-col gap-5 ps-14 pt-14 w-1/2 h-full justify-start items-start"
      >
        <h2
          class="text-corange text-xs border-[1px] border-corange rounded-3xl py-1 px-3"
        >
          Acerca de nosotros
        </h2>

        <div>
          <h2 class="text-4xl font-bold">No guiamos tus pasos</h2>
          <h2 class="text-4xl font-bold">¡Los acompañamos!</h2>
        </div>
        <p class="text-cgray">
          Somos tu centro médico terapéutico, pendientes de potenciar una mirada
          integradora del sanar, crecer y florecer de nuestros usuarios ♥️✨️
        </p>

        <p class="text-cgray">
          Si ya nos conoces, sabes que recibimos a todos con cariño, aprecio y
          buena onda. Si no nos conoces ¿Qué estas esperando para venir? 🤭
        </p>
        <p>¡Te esperamos! ♥️</p>
      </div>

      <div class="p-10">
        <img src="acompanamiento.jpg" alt="" class="rounded-3xl" />
      </div>
    </div>

    <!-- Nuestro equipo -->
    <TeamSection />
  </main>

  <div class="flex flex-col items-center gap-10 p-24">
    <h1 class="text-5xl text-white font-bold">Servicios disponibles</h1>
    <div class="grid grid-cols-3 gap-10 w-full">
      <div
        class="flex flex-col justify-start bg-white rounded-2xl shadow-lg shadow-gray-600 p-8 gap-4"
      >
        <FaBaby size={64} className="transform -translate-x-2 text-[#42A299]" />
        <h1 class="font-bold text-2xl antialiased">300+ UI Components</h1>
        <p class="text-slate-400">Servicios de Pediatría</p>
        <ul class="list-inside">
          <li class="flex items-center gap-2">
            <PiStarFourFill className="text-[#42A299]" /><p class="font-light">
              Pro lactancia materna
            </p>
          </li>
          <li class="flex items-center gap-2">
            <PiStarFourFill className="text-red-400 font-medium" /><p
              class="font-medium"
            >
              Pro lactancia materna
            </p>
          </li>
          <li class="flex items-center gap-2">
            <PiStarFourFill className="text-red-400 font-bold" /><p
              class="font-semibold"
            >
              Pro lactancia materna
            </p>
          </li>
          <li class="flex items-center gap-2">
            <PiStarFourFill className="text-red-400" /><p class="font-bold">
              Pro lactancia materna
            </p>
          </li>
        </ul>
      </div>

      <div class="flex flex-col justify-start bg-white rounded-lg p-8 gap-4">
        <MdBabyChangingStation
          size={64}
          className=" transform -translate-x-2"
        />
        <h1 class="font-bold text-2xl antialiased">
          Consejería en Lactancia Materna
        </h1>
        <p class="text-slate-400">Servicios de consejería materna</p>
        <ul class="list-inside">
          <li class="flex items-center gap-2">
            <PiStarFourFill className="text-red-400 flex-shrink-0" />
            <p class="truncate">
              Profesionales certificados en lactancia materna
            </p>
          </li>
          <li class="flex items-center gap-2">
            <PiStarFourFill className="text-red-400 flex-shrink-0" />
            <p class="truncate">Consejería pre & post natales</p>
          </li>
          <li class="flex items-center gap-2">
            <PiStarFourFill className="text-red-400 flex-shrink-0" />
            <p class="truncate">Asesoría en destete respetuoso</p>
          </li>
        </ul>
      </div>

      <div class="flex flex-col justify-start bg-white rounded-lg p-8 gap-4">
        <FaAppleWhole size={64} className=" transform -translate-x-2" />
        <h1 class="font-bold text-2xl antialiased">Nutrición</h1>
        <p class="text-slate-400">Servicios de nutrición y dietética</p>
        <ul class="list-inside">
          <li class="flex items-center gap-2">
            <PiStarFourFill className="text-red-400 flex-shrink-0" />
            <p class="truncate">Materno infantil</p>
          </li>
          <li class="flex items-center gap-2">
            <PiStarFourFill className="text-red-400 flex-shrink-0" />
            <p class="truncate">Nutrición vagana</p>
          </li>
          <li class="flex items-center gap-2">
            <PiStarFourFill className="text-red-400 flex-shrink-0" />
            <p class="truncate">Consejero de lactancia</p>
          </li>
        </ul>
      </div>
    </div>
  </div>

  <div class="flex justify-around items-stretch p-20 gap-20">
    <img src="familia-1.webp" alt="Familia" class="w-1/2 rounded-3xl" />
    <div
      class="flex flex-col items-start justify-start w-1/2 bg-red-400/0 gap-5"
    >
      <div class="flex gap-4 text-white font-medium">
        <button
          class="bg-red-400/25 border-2 border-gray-400 px-10 py-1 rounded-full mb-10"
        >
          <h1>Misión</h1>
        </button>

        <button
          class="bg-red-400/25 border-2 border-gray-400 px-10 py-1 rounded-full mb-10"
        >
          <h1>Visión</h1>
        </button>

        <button
          class="bg-red-400/25 border-2 border-gray-400 px-10 py-1 rounded-full mb-10"
        >
          <h1>Compromiso</h1>
        </button>
      </div>

      <h1 class="font-bold text-white text-4xl">Nuestra Misión</h1>
      <p class="text-cgray text-xl">
        "Acompañar a las familias en el proceso de maternidad, desarrollo
        infantil, establecimiento de vínculo afectivo seguro y alimentación,
        siendo la red de apoyo multidisciplinaria de la región".
      </p>
    </div>
  </div>
</Layout>
