---
import Layout from "../layouts/Layout.astro";

import FrontCarousel from "@/components/front_carousel/FrontCarousel";
import FooterCarousel from "@/components/front_carousel/FooterCarousel.astro";
import AboutSection from "@/components/about/AboutSection.astro";
import NavSection from "@/components/common/navigation/NavSection";
import FooterSection from "@/components/common/footer/FooterSection.astro";
import SvgSection from "@/components/home/svg_patterns/SvgSection.astro";
import ServicesCarousel from "@/components/home/services/carousel/ServicesCarousel";
import ServiceSection from "@/components/home/services/ServiceSection.astro";
import TeamSection from "@/components/home/team/TeamSection.astro";
---

<Layout>
  <SvgSection />

  <NavSection client:load />

  <main>
    <!-- Carousel principa & footer -->
    <FrontCarousel client:load />
    <FooterCarousel />

    <!-- Carousel de servicios -->
    <ServicesCarousel client:load />

    <!-- Sección -->
    <AboutSection />

    <!-- Nuestro equipo -->
    <TeamSection />

    <!-- Nuestros servicios -->
    <ServiceSection />
  </main>

  <FooterSection />
</Layout>
