---
import Layout from "../layouts/Layout.astro";

import {
  FaBaby,
  FaAppleWhole,
  FaBrain,
  FaUserNurse,
  FaUserDoctor,
  FaPuzzlePiece,
  FaLocationDot,
  FaWhatsapp,
FaRegClock,
} from "react-icons/fa6";
import { PiStarFourFill } from "react-icons/pi";
import {
  MdBabyChangingStation,
  MdOutlineEmail,
  MdOutlinePersonalInjury,
} from "react-icons/md";

import TeamSection from "@/components/team/TeamSection.astro";
import FrontCarousel from "@/components/frontcarousel/FrontCarousel";
import FooterCarousel from "@/components/frontcarousel/FooterCarousel.astro";
import { RiSpeakFill } from "react-icons/ri";
import { GiHand } from "react-icons/gi";
import ServicesCarousel from "@/components/services/ServicesCarousel";
import logo from "@assets/images/amai_logo.png";
import { Picture } from "astro:assets";
import { ImFacebook } from "react-icons/im";
import { SiInstagram } from "react-icons/si";
---

<Layout title="Welcome to Astro.">
  <main>
    <nav class="fixed z-10 w-full backdrop-blur-sm">
      <div class="flex justify-start items-center px-40 py-8 text-white gap-10">
        <h1 class="text-3xl">Logo Centro amai</h1>
        <h1 class="text-lg">Felipe</h1>
      </div>
    </nav>

    <!-- Carousel principa & footer -->
    <FrontCarousel client:load />
    <FooterCarousel />

    <!-- Carousel de servicios -->
    <div class="py-10">
      <ServicesCarousel client:load />
    </div>

    <!-- Sobre nosotros -->
    <div class="flex bg-white rounded-3xl mx-20 gap-5">
      <div
        class="flex flex-col gap-5 ps-14 pt-14 w-1/2 h-full justify-start items-start"
      >
        <h2
          class="text-corange text-xs border-[1px] border-corange rounded-3xl py-1 px-3"
        >
          Acerca de nosotros
        </h2>

        <div>
          <h2 class="text-4xl font-bold">No guiamos tus pasos</h2>
          <h2 class="text-4xl font-bold">¡Los acompañamos!</h2>
        </div>
        <p class="text-cgray">
          Somos tu centro médico terapéutico, pendientes de potenciar una mirada
          integradora del sanar, crecer y florecer de nuestros usuarios ♥️✨️
        </p>

        <p class="text-cgray">
          Si ya nos conoces, sabes que recibimos a todos con cariño, aprecio y
          buena onda. Si no nos conoces ¿Qué estas esperando para venir? 🤭
        </p>
        <p>¡Te esperamos! ♥️</p>
      </div>

      <div class="p-10">
        <img src="acompanamiento.jpg" alt="" class="rounded-3xl" />
      </div>
    </div>

    <!-- Nuestro equipo -->
    <TeamSection />

    <!-- Nuestros servicios -->
    <div class="flex flex-col items-start mx-20 mt-24">
      <h2
        class="text-corange text-xs border-[1px] border-corange rounded-3xl py-1 px-3"
      >
        Servicios
      </h2>

      <h2 class="text-4xl font-bold text-white pt-4 pb-10">
        Atención de alta calidad para ti
      </h2>

      <div class="flex justify-center w-full">
        <div
          class="grid grid-cols-3 gap-5 justify-items-center items-start w-4/5"
        >
          <!-- Pediatria -->
          <div
            class="flex flex-col justify-center items-center hover:-translate-y-1 transition-all duration-300 ease-in-out"
          >
            <div class="my-4 relative">
              <FaBaby size={48} className="text-white/75 absolute z-10" />
              <div
                class="transform w-12 h-12 translate-x-4 translate-y-4 rounded-full bg-cgreen/30"
              >
              </div>
            </div>

            <h2
              class="text-white font-bold text-lg bg-cgreen px-1 mt-4 mb-2 rounded-md"
            >
              Pediatría
            </h2>

            <ul class="list-inside">
              <li class="flex items-center gap-2">
                <PiStarFourFill className="text-corange" />
                <p class="font-light">Pro lactancia materna</p>
              </li>
              <li class="flex items-center gap-2">
                <PiStarFourFill className="text-corange" />
                <p class="font-light">Pro crianza respetuosa</p>
              </li>
              <li class="flex items-center gap-2">
                <PiStarFourFill className="text-corange" />
                <p class="font-light">Asesores de BLW</p>
              </li>

              <li class="flex items-center gap-2">
                <PiStarFourFill className="text-corange" />
                <p class="font-light">Uso racional de medicamentos</p>
              </li>
            </ul>
          </div>

          <!-- Nutricion -->
          <div
            class="flex flex-col justify-center items-center hover:-translate-y-1 transition-all duration-300 ease-in-out"
          >
            <div class="my-4 relative">
              <FaAppleWhole size={48} className="text-white/75 absolute z-10" />
              <div
                class="transform w-12 h-12 translate-x-4 translate-y-4 rounded-full bg-cgreen/30"
              >
              </div>
            </div>

            <h2
              class="text-white font-bold text-lg bg-cgreen px-1 mt-4 mb-2 rounded-md"
            >
              Nutrición
            </h2>

            <ul class="list-inside">
              <li class="flex items-center gap-2">
                <PiStarFourFill className="text-corange" />
                <p class="font-light">Materno infantil</p>
              </li>
              <li class="flex items-center gap-2">
                <PiStarFourFill className="text-corange" />
                <p class="font-light">Nutrición vegetariana</p>
              </li>
              <li class="flex items-center gap-2">
                <PiStarFourFill className="text-corange" />
                <p class="font-light">Consejería de Lactancia</p>
              </li>
            </ul>
          </div>

          <!-- Psicología -->
          <div
            class="flex flex-col justify-center items-center hover:-translate-y-1 transition-all duration-300 ease-in-out"
          >
            <div class="my-4 relative">
              <FaBrain size={48} className="text-white/75 absolute z-10" />
              <div
                class="transform w-12 h-12 translate-x-4 translate-y-4 rounded-full bg-cgreen/30"
              >
              </div>
            </div>

            <h2
              class="text-white font-bold text-lg bg-cgreen px-1 mt-4 mb-2 rounded-md"
            >
              Psicología
            </h2>

            <ul class="list-inside">
              <li class="flex items-center gap-2">
                <PiStarFourFill className="text-corange" />
                <p class="font-light">Psicología infanto-juvenil</p>
              </li>
              <li class="flex items-center gap-2">
                <PiStarFourFill className="text-corange" />
                <p class="font-light">Expereriencia en TEA</p>
              </li>

              <li class="flex items-center gap-2">
                <PiStarFourFill className="text-corange" />
                <p class="font-light">Asesorías en habilidades parentales</p>
              </li>
            </ul>
          </div>

          <!-- Fonoaudiología -->
          <div
            class="flex flex-col justify-center items-center hover:-translate-y-1 transition-all duration-300 ease-in-out"
          >
            <div class="my-4 relative">
              <RiSpeakFill size={48} className="text-white/75 absolute z-10" />
              <div
                class="transform w-12 h-12 translate-x-4 translate-y-4 rounded-full bg-cgreen/30"
              >
              </div>
            </div>

            <h2
              class="text-white font-bold text-lg bg-cgreen px-1 mt-4 mb-2 rounded-md"
            >
              Fonoaudiología
            </h2>

            <ul class="list-inside">
              <li class="flex items-center gap-2">
                <PiStarFourFill className="text-corange" />
                <p class="font-light">Expereriencia en TEA</p>
              </li>

              <li class="flex items-center gap-2">
                <PiStarFourFill className="text-corange" />
                <p class="font-light">Rechazo alimentario</p>
              </li>
              <li class="flex items-center justify-start gap-2">
                <PiStarFourFill className="text-corange" />
                <p class="font-light">
                  Transtornos de lenguaje, habla y deglución
                </p>
              </li>
            </ul>
          </div>

          <!-- Terapia Ocupacional -->
          <div
            class="flex flex-col justify-center items-center hover:-translate-y-1 transition-all duration-300 ease-in-out"
          >
            <div class="my-4 relative">
              <GiHand size={48} className="text-white/75 absolute z-10" />
              <div
                class="transform w-12 h-12 translate-x-4 translate-y-4 rounded-full bg-cgreen/30"
              >
              </div>
            </div>

            <h2
              class="text-white font-bold text-lg bg-cgreen px-1 mt-4 mb-2 rounded-md"
            >
              Terapia Ocupacional
            </h2>

            <ul class="list-inside">
              <li class="flex items-center gap-2">
                <PiStarFourFill className="text-corange" />
                <p class="font-light">AVD (actividades de la vida diaria)</p>
              </li>

              <li class="flex items-center gap-2">
                <PiStarFourFill className="text-corange" />
                <p class="font-light">Integración sensorial</p>
              </li>
              <li class="flex items-center justify-start gap-2">
                <PiStarFourFill className="text-corange" />
                <p class="font-light">Rechazo alimentario</p>
              </li>
            </ul>
          </div>

          <!-- Matronería -->
          <div
            class="flex flex-col justify-center items-center hover:-translate-y-1 transition-all duration-300 ease-in-out"
          >
            <div class="my-4 relative">
              <FaUserNurse size={48} className="text-white/75 absolute z-10" />
              <div
                class="transform w-12 h-12 translate-x-4 translate-y-4 rounded-full bg-cgreen/30"
              >
              </div>
            </div>

            <h2
              class="text-white font-bold text-lg bg-cgreen px-1 mt-4 mb-2 rounded-md"
            >
              Matronería
            </h2>

            <ul class="list-inside">
              <li class="flex items-center gap-2">
                <PiStarFourFill className="text-corange" />
                <p class="font-light">
                  Consejería en salud sexual y reproductiva
                </p>
              </li>

              <li class="flex items-center gap-2">
                <PiStarFourFill className="text-corange" />
                <p class="font-light">Consejería en anticoncepción</p>
              </li>
              <li class="flex items-center justify-start gap-2">
                <PiStarFourFill className="text-corange" />
                <p class="font-light">Medicina placentaria</p>
              </li>
            </ul>
          </div>

          <!-- Medicina General -->
          <div
            class="flex flex-col justify-center items-center hover:-translate-y-1 transition-all duration-300 ease-in-out"
          >
            <div class="my-4 relative">
              <FaUserDoctor size={48} className="text-white/75 absolute z-10" />
              <div
                class="transform w-12 h-12 translate-x-4 translate-y-4 rounded-full bg-cgreen/30"
              >
              </div>
            </div>

            <h2
              class="text-white font-bold text-lg bg-cgreen px-1 mt-4 mb-2 rounded-md"
            >
              Medicina General
            </h2>

            <ul class="list-inside">
              <li class="flex items-center gap-2">
                <PiStarFourFill className="text-corange" />
                <p class="font-light">Medicina biorreguladora</p>
              </li>
              <li class="flex items-center justify-start gap-2">
                <PiStarFourFill className="text-corange" />
                <p class="font-light">Medicina ortomolecular</p>
              </li>
              <li class="flex items-center justify-start gap-2">
                <PiStarFourFill className="text-corange" />
                <p class="font-light">Fitoterapia clínica</p>
              </li>
            </ul>
          </div>

          <!-- Kinesiología -->
          <div
            class="flex flex-col justify-center items-center hover:-translate-y-1 transition-all duration-300 ease-in-out"
          >
            <div class="my-4 relative">
              <MdOutlinePersonalInjury
                size={48}
                className="text-white/75 absolute z-10"
              />
              <div
                class="transform w-12 h-12 translate-x-4 translate-y-4 rounded-full bg-cgreen/30"
              >
              </div>
            </div>

            <h2
              class="text-white font-bold text-lg bg-cgreen px-1 mt-4 mb-2 rounded-md"
            >
              Kinesiología
            </h2>

            <ul class="list-inside">
              <li class="flex items-center gap-2">
                <PiStarFourFill className="text-corange" />
                <p class="font-light">Rehabilitación musculoesquelética</p>
              </li>

              <li class="flex items-center gap-2">
                <PiStarFourFill className="text-corange" />
                <p class="font-light">Reintegro deportivo</p>
              </li>
              <li class="flex items-center gap-2">
                <PiStarFourFill className="text-corange" />
                <p class="font-light">Masoterapia, crioterapia & ultrasonido</p>
              </li>
              <li class="flex items-center gap-2">
                <PiStarFourFill className="text-corange" />
                <p class="font-light">Electroestimulación</p>
              </li>
            </ul>
          </div>

          <!-- Psicopedagogía -->
          <div
            class="flex flex-col justify-center items-center hover:-translate-y-1 transition-all duration-300 ease-in-out"
          >
            <div class="my-4 relative">
              <FaPuzzlePiece
                size={48}
                className="text-white/75 absolute z-10"
              />
              <div
                class="transform w-12 h-12 translate-x-4 translate-y-4 rounded-full bg-cgreen/30"
              >
              </div>
            </div>

            <h2
              class="text-white font-bold text-lg bg-cgreen px-1 mt-4 mb-2 rounded-md"
            >
              Psicopedagogía
            </h2>

            <ul class="list-inside">
              <li class="flex items-center gap-2">
                <PiStarFourFill className="text-corange" />
                <p class="font-light">Expereriencia en TEA</p>
              </li>

              <li class="flex items-center gap-2">
                <PiStarFourFill className="text-corange" />
                <p class="font-light">Competencias en Evaluación de N.E.E</p>
              </li>

              <li class="flex items-center gap-2">
                <PiStarFourFill className="text-corange" />
                <p class="font-light">Intervención Psicopedagógica</p>
              </li>

              <li class="flex items-center gap-2">
                <PiStarFourFill className="text-corange" />
                <p class="font-light">Evauaciones Psicopedagógicas</p>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>

    <div class="flex justify-around items-stretch p-20 gap-20">
      <img src="familia-1.webp" alt="Familia" class="w-1/2 rounded-3xl" />
      <div
        class="flex flex-col items-start justify-start w-1/2 bg-red-400/0 gap-5"
      >
        <div class="flex gap-4 text-white font-medium">
          <button
            class="bg-red-400/25 border-2 border-gray-400 px-10 py-1 rounded-full mb-10"
          >
            <h1>Misión</h1>
          </button>

          <button
            class="bg-red-400/25 border-2 border-gray-400 px-10 py-1 rounded-full mb-10"
          >
            <h1>Visión</h1>
          </button>

          <button
            class="bg-red-400/25 border-2 border-gray-400 px-10 py-1 rounded-full mb-10"
          >
            <h1>Compromiso</h1>
          </button>
        </div>

        <h1 class="font-bold text-white text-4xl">Nuestra Misión</h1>
        <p class="text-cgray text-xl">
          "Acompañar a las familias en el proceso de maternidad, desarrollo
          infantil, establecimiento de vínculo afectivo seguro y alimentación,
          siendo la red de apoyo multidisciplinaria de la región".
        </p>
      </div>
    </div>
  </main>

  <footer>
    <div class="bg-white py-5 w-full shadow-lg px-16">
      <div class="grid grid-cols-4 justify-items-center pb-5">
        <div class="flex flex-col items-center justify-start gap-2">
          <div
            class="p-3 rounded-full bg-white text-corange border-[1px] border-corange hover:bg-corange hover:text-white transition-all duration-300 ease-in-out"
          >
            <FaLocationDot size={24} />
          </div>
          <div class="w-3/4 text-center text-sm text-cgray">
            <p class="inline-block">Las Rojas Poniente #1489</p>
            <p class="inline-block">La Serena, Chile.</p>
          </div>
        </div>

        <div class="flex flex-col items-center justify-start gap-2">
          <div class="p-3 rounded-full bg-white text-corange border-[1px] border-corange hover:bg-corange hover:text-white transition-all duration-300 ease-in-out">
            <FaWhatsapp size={24} />
          </div>

          <a href="https://api.whatsapp.com/send?phone=56959905385">
            <p class="text-sm text-center text-cgray underline hover:opacity-50 transition-opacity duration-150 ease-in-out">+56 9 5990 5385</p>
          </a>
        </div>

        <div class="flex flex-col items-center justify-start gap-2">
          <div class="p-3 rounded-full bg-white text-corange border-[1px] border-corange hover:bg-corange hover:text-white transition-all duration-300 ease-in-out">
            <MdOutlineEmail size={24}  />
          </div>

          <div>
            <a href="mailto:amaicentro@gmail.com">
              <p class="text-cgray text-sm text-center underline hover:opacity-50 transition-opacity duration-150 ease-in-out">amaicentro@gmail.com</p>
            </a>
          </div>
        </div>

        <div class="flex flex-col items-center justify-start gap-2">
          <div class="p-3 rounded-full bg-white text-corange border-[1px] border-corange hover:bg-corange hover:text-white transition-all duration-300 ease-in-out">
            <FaRegClock size={24}  />
          </div>

          <div class="text-center text-sm">
            <p>Lun a Vie, 9:00 a 13:00 - 14:00 a 19:00 hrs</p>
            <p>Sáb y Dom, 9:00 a 14:00 hrs</p>
          </div>
        </div>
      </div>

      <hr />

      <div class="flex w-full h-full p-5 gap-5 justify-center">
        <div class="w-1/3 p-10">
          <Picture
            src={logo}
            alt="Centro amai logo"
            formats={["webp", "jpg"]}
            fallbackFormat="png"
            class="w-52 py-2"
          />

          <p class="text-black text-xs">
            Somos tu centro médico terapéutico, pendientes de potenciar una
            mirada integradora del sanar, crecer y florecer de nuestros usuarios
            ♥️✨️
          </p>
          <p class="text-cgray py-2 text-center">Creciendo junto a ti</p>

          <div class="flex justify-center items-center gap-2 py-2">
            <a
              class="bg-white text-corange border-[1px] border-corange hover:bg-corange hover:text-white p-2 rounded-full duration-150 ease-in-out"
              href="https://web.facebook.com/centroamai/"
              target="_blank"
              rel="noopener noreferrer"
            >
              <ImFacebook />
            </a>
            <a
              class="bg-white text-corange border-[1px] border-corange hover:bg-corange hover:text-white p-2 rounded-full duration-150 ease-in-out"
              href="https://www.instagram.com/centroamai/"
              target="_blank"
              rel="noopener noreferrer"
            >
              <SiInstagram />
            </a>
            <a
              class="bg-white text-corange border-[1px] border-corange hover:bg-corange hover:text-white p-2 rounded-full duration-150 ease-in-out"
              href="#"
              target="_blank"
              rel="noopener noreferrer"
            >
              <FaWhatsapp />
            </a>
          </div>
        </div>

        <div class="w-2/3 px-10">
          <div class="w-fit">
            <h2
              class="text-corange text-xs border-[1px] border-corange rounded-3xl py-1 px-3"
            >
              Ubicación
            </h2>
          </div>
          <h2 class="text-xl font-bold py-4">¿Dónde estamos?</h2>
          <iframe
            class="w-full h-80 aspect-auto rounded-3xl"
            title="Centro Amai - Google Maps"
            aria-hidden="false"
            loading="lazy"
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1028.1569422444134!2d-71.25612644271442!3d-29.913438628768006!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x9691cbd655a180cb%3A0xe7db50e14c040b93!2sCentro%20Amai!5e0!3m2!1sen!2scl!4v1609260296618!5m2!1sen!2scl"
            style="border:0;"
            tabindex="0"></iframe>

          <hr class="my-5" />

          <div class="flex justify-between items-center text-sm text-cgray">
            <h2>© <span id="year"></span> Centro Amaï</h2>
            <span
              >Hecho con 🍵 y código por <a
                href="https://figonzal.cl/"
                class="underline font-semibold hover:opacity-50 transition-opacity duration-300 ease-in-out"
                >figonzal.cl</a
              >
            </span>
          </div>
        </div>
      </div>
    </div>

    <script>
      const actualYear = new Date().getFullYear();
      const yearElement = document.getElementById("year");

      if (yearElement) {
        yearElement.textContent = actualYear.toString();
      } else {
        console.log('No se encontró el elemento con id "year"');
      }
    </script>
  </footer>
</Layout>
