---
import Layout from "../layouts/Layout.astro";

import {
  FaBaby,
  FaAppleWhole,
  FaBrain,
  FaUserNurse,
  FaUserDoctor,
  FaPuzzlePiece,
} from "react-icons/fa6";
import { PiStarFourFill } from "react-icons/pi";
import { MdOutlinePersonalInjury } from "react-icons/md";

import TeamSection from "@/components/team/TeamSection.astro";
import FrontCarousel from "@/components/front_carousel/FrontCarousel";
import FooterCarousel from "@/components/front_carousel/FooterCarousel.astro";
import { RiSpeakFill } from "react-icons/ri";
import { GiHand } from "react-icons/gi";
import ServicesCarousel from "@/components/services/carousel/ServicesCarousel";
import Footer from "@/components/footer/FooterSection.astro";
import AboutSection from "@/components/about/AboutSection.astro";
import ServiceSection from "@/components/services/ServiceSection.astro";
---

<Layout title="Welcome to Astro.">
  <main>
    <nav class="fixed z-10 w-full backdrop-blur-sm">
      <div class="flex justify-start items-center px-40 py-8 text-white gap-10">
        <h1 class="text-3xl">Logo Centro amai</h1>
        <h1 class="text-lg">Felipe</h1>
      </div>
    </nav>

    <!-- Carousel principa & footer -->
    <FrontCarousel client:load />
    <FooterCarousel />

    <!-- Carousel de servicios -->
    <ServicesCarousel client:load />

    <!-- Sección -->
    <AboutSection />

    <!-- Nuestro equipo -->
    <TeamSection />

    <!-- Nuestros servicios -->
    <ServiceSection />

    <!--
    <div class="flex justify-around items-stretch p-20 gap-20">
      <img src="familia-1.webp" alt="Familia" class="w-1/2 rounded-3xl" />
      <div
        class="flex flex-col items-start justify-start w-1/2 bg-red-400/0 gap-5"
      >
        <div class="flex gap-4 text-white font-medium">
          <button
            class="bg-red-400/25 border-2 border-gray-400 px-10 py-1 rounded-full mb-10"
          >
            <h1>Misión</h1>
          </button>

          <button
            class="bg-red-400/25 border-2 border-gray-400 px-10 py-1 rounded-full mb-10"
          >
            <h1>Visión</h1>
          </button>

          <button
            class="bg-red-400/25 border-2 border-gray-400 px-10 py-1 rounded-full mb-10"
          >
            <h1>Compromiso</h1>
          </button>
        </div>

        <h1 class="font-bold text-white text-4xl">Nuestra Misión</h1>
        <p class="text-cgray text-xl">
          "Acompañar a las familias en el proceso de maternidad, desarrollo
          infantil, establecimiento de vínculo afectivo seguro y alimentación,
          siendo la red de apoyo multidisciplinaria de la región".
        </p>
      </div>
    </div>-->
  </main>

  <Footer />
</Layout>
