---
import Layout from "../layouts/Layout.astro";

import { FaBaby, FaAppleWhole, FaFacebook, FaLinkedin } from "react-icons/fa6";
import { PiStarFourFill } from "react-icons/pi";
import { MdBabyChangingStation } from "react-icons/md";
import FrontCarousel from "@/components/FrontCarousel";
import ServicesCarousel from "@/components/ServicesCarousel";
import { FaWhatsapp } from "react-icons/fa";


import { ImFacebook, ImLinkedin2 } from "react-icons/im";
import { Picture } from "astro:assets";
import { FaCircle } from "react-icons/fa";
import { SiInstagram } from "react-icons/si";
import Person from "@/components/team/Person.astro";

---

<Layout title="Welcome to Astro.">
  <main>
    <nav class="fixed z-10">
      <h1 class="text-black text-lg">Felipe</h1>
    </nav>
    <FrontCarousel client:load />

    <!-- Footer carousel -->
    <div class="flex justify-center">
      <div
        class="bg-white/95 rounded-b-3xl w-10/12 px-10 py-4 -translate-y-0 shadow-md opacity-65 hover:opacity-100 hover:rounded-3xl hover:-translate-y-5 transition-all duration-300 ease-in-out"
      >
        <div class="grid grid-cols-3 items-center">
          <div class="text-center">
            <div class="flex justify-start items-center">
              <div class="flex">
                <div
                  class="w-11 h-11 overflow-hidden rounded-full border-2 border-caqua"
                >
                  <img
                    src="camila_eguiluz.jpg"
                    alt="Descripci贸n de la imagen"
                    class="object-cover w-full h-full"
                  />
                </div>

                <div
                  class="w-11 h-11 overflow-hidden rounded-full border-2 border-caqua -translate-x-3"
                >
                  <img
                    src="karla_lopez.jpg"
                    alt="Descripci贸n de la imagen"
                    class="object-cover w-full h-full"
                  />
                </div>
              </div>
              <h1 class="font-semibold text-cgreen text-right">
                Nuestro equipo
              </h1>
            </div>
          </div>

          <div class="text-center flex justify-center items-center">
            <img
              src="amai_logo_simplificado.jpg"
              class="w-1/5 rounded"
              alt=""
            />
          </div>

          <div class="flex justify-end items-center gap-5">
            <h1 class="font-semibold text-cgreen text-right">
              Agenda tu asesor铆a de orientaci贸n gratis
            </h1>
            <a
              class="hover:opacity-50 transition-opacity duration-300 ease-in-out animate-pop animate-duration-1000 animate-iteration-count-infinite"
              href="https://api.whatsapp.com/send?phone=56959905385"
              rel="noreferrer"
              target="_blank"
            >
              <FaWhatsapp size={42} className="text-[#25D366]" />
            </a>
          </div>
        </div>
      </div>
    </div>

    <!-- Carousel de servicios -->
    <div class="py-10">
      <ServicesCarousel client:load />
    </div>

    <!-- Sobre nosotros -->
      <div class="flex bg-white rounded-3xl mx-20 gap-5">
        
        <div class="flex flex-col gap-5 ps-14 pt-14 w-1/2 h-full justify-start items-start">
          <h2 class="text-corange text-xs border-[1px] border-corange rounded-3xl py-1 px-3">Acerca de nosotros</h2>
  
          <div>
            <h2 class="text-4xl font-bold">No guiamos tus pasos</h2>
            <h2 class="text-4xl font-bold">隆Los acompa帽amos!</h2>
          </div>
          <p class="text-cgray">Somos tu centro m茅dico terap茅utico, pendientes de potenciar una mirada integradora del sanar, crecer y florecer de nuestros usuarios ワ锔</p>

          <p class="text-cgray">Si ya nos conoces, sabes que recibimos a todos con cari帽o, aprecio y buena onda. Si no nos conoces 驴Qu茅 estas esperando para venir? き</p>
          <p>隆Te esperamos! ワ</p>
        </div>

        <div class="p-10">
          <img src="acompanamiento.jpg" alt="" class="rounded-3xl ">
        </div>
        
      </div>


      <!-- Nuestro equipo -->
      <div class="flex flex-col items-start mx-20 mt-24 gap-5">

        <h2 class="text-corange text-xs border-[1px] border-corange rounded-3xl py-1 px-3">Nuestro Equipo</h2>

        <div class="bg-red-400/20 grid grid-cols-3 justify-items-center gap-y-10 px-10 w-full">

          <Person/>
          <Person/>
          <Person/>
          <Person/>
        </div>

      </div>
    
  </main>

  <div class="flex flex-col items-center gap-10 p-24">
    <h1 class="text-5xl text-white font-bold">Servicios disponibles</h1>
    <div class="grid grid-cols-3 gap-10 w-full">
      <div
        class="flex flex-col justify-start bg-white rounded-2xl shadow-lg shadow-gray-600 p-8 gap-4"
      >
        <FaBaby size={64} className="transform -translate-x-2 text-[#42A299]" />
        <h1 class="font-bold text-2xl antialiased">300+ UI Components</h1>
        <p class="text-slate-400">Servicios de Pediatr铆a</p>
        <ul class="list-inside">
          <li class="flex items-center gap-2">
            <PiStarFourFill className="text-[#42A299]" /><p class="font-light">
              Pro lactancia materna
            </p>
          </li>
          <li class="flex items-center gap-2">
            <PiStarFourFill className="text-red-400 font-medium" /><p
              class="font-medium"
            >
              Pro lactancia materna
            </p>
          </li>
          <li class="flex items-center gap-2">
            <PiStarFourFill className="text-red-400 font-bold" /><p
              class="font-semibold"
            >
              Pro lactancia materna
            </p>
          </li>
          <li class="flex items-center gap-2">
            <PiStarFourFill className="text-red-400" /><p class="font-bold">
              Pro lactancia materna
            </p>
          </li>
        </ul>
      </div>

      <div class="flex flex-col justify-start bg-white rounded-lg p-8 gap-4">
        <MdBabyChangingStation
          size={64}
          className=" transform -translate-x-2"
        />
        <h1 class="font-bold text-2xl antialiased">
          Consejer铆a en Lactancia Materna
        </h1>
        <p class="text-slate-400">Servicios de consejer铆a materna</p>
        <ul class="list-inside">
          <li class="flex items-center gap-2">
            <PiStarFourFill className="text-red-400 flex-shrink-0" />
            <p class="truncate">
              Profesionales certificados en lactancia materna
            </p>
          </li>
          <li class="flex items-center gap-2">
            <PiStarFourFill className="text-red-400 flex-shrink-0" />
            <p class="truncate">Consejer铆a pre & post natales</p>
          </li>
          <li class="flex items-center gap-2">
            <PiStarFourFill className="text-red-400 flex-shrink-0" />
            <p class="truncate">Asesor铆a en destete respetuoso</p>
          </li>
        </ul>
      </div>

      <div class="flex flex-col justify-start bg-white rounded-lg p-8 gap-4">
        <FaAppleWhole size={64} className=" transform -translate-x-2" />
        <h1 class="font-bold text-2xl antialiased">Nutrici贸n</h1>
        <p class="text-slate-400">Servicios de nutrici贸n y diet茅tica</p>
        <ul class="list-inside">
          <li class="flex items-center gap-2">
            <PiStarFourFill className="text-red-400 flex-shrink-0" />
            <p class="truncate">Materno infantil</p>
          </li>
          <li class="flex items-center gap-2">
            <PiStarFourFill className="text-red-400 flex-shrink-0" />
            <p class="truncate">Nutrici贸n vagana</p>
          </li>
          <li class="flex items-center gap-2">
            <PiStarFourFill className="text-red-400 flex-shrink-0" />
            <p class="truncate">Consejero de lactancia</p>
          </li>
        </ul>
      </div>
    </div>
  </div>

  

  <div class="flex justify-around items-stretch p-20 gap-20">
    <img src="familia-1.webp" alt="Familia" class="w-1/2 rounded-3xl">
    <div class="flex flex-col items-start justify-start w-1/2 bg-red-400/0 gap-5">

      <div class="flex gap-4 text-white font-medium">
        <button class="bg-red-400/25 border-2 border-gray-400 px-10 py-1 rounded-full mb-10">
          <h1>Misi贸n</h1>
        </button>

        <button class="bg-red-400/25 border-2 border-gray-400 px-10 py-1 rounded-full mb-10">
          <h1>Visi贸n</h1>
        </button>

        <button class="bg-red-400/25 border-2 border-gray-400 px-10 py-1 rounded-full mb-10">
          <h1>Compromiso</h1>
        </button>
      </div>
      
      <h1 class="font-bold text-white text-4xl">Nuestra Misi贸n</h1>
      <p class="text-cgray text-xl">"Acompa帽ar a las familias en el proceso de maternidad, desarrollo infantil, establecimiento de v铆nculo afectivo seguro y alimentaci贸n, siendo la red de apoyo multidisciplinaria de la regi贸n".</p>
    </div>
  </div>
</Layout>
