@import "variables";

.dark-bg {
  background-color: $darkMask;
}

#introCarousel,
.carousel-inner,
.carousel-item,
.carousel-item.active {
  height: 100vh;
}

.carousel-item:nth-child(1) {
  background-image: url('../../../img/carousel/fotos_portada2.jpeg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.carousel-item:nth-child(2) {
  background-image: url('../../../img/carousel/fotos_portada1.jpeg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.carousel-item:nth-child(3) {
  background-image: url('../../../img/carousel/fotos_portada3.jpeg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}