---
import { FaWhatsapp } from "react-icons/fa";

import camila from "@assets/images/equipo/camila_eguiluz.jpg";
import karla from "@assets/images/equipo/karla_lopez.jpg";
import logo from "@assets/images/amai_logo.png";
import { Picture } from "astro:assets";
---

<div class="flex justify-center">
  <div
    class="bg-white/95 rounded-b-3xl w-10/12 px-10 py-4 -translate-y-0 shadow-md opacity-65 hover:opacity-100 hover:rounded-3xl hover:-translate-y-5 transition-all duration-300 ease-in-out"
  >
    <div class="grid grid-cols-3 items-center">
      <div class="flex justify-start">
        <a href="#">
          <div class="flex flex-row items-center">
            <div
              class="w-11 h-11 overflow-hidden rounded-full border-2 border-caqua"
            >
              <Picture
                src={camila}
                alt="Imagen camila"
                formats={["webp", "jpg"]}
                fallbackFormat="jpg"
                class="object-cover"
              />
            </div>

            <div
              class="w-11 h-11 overflow-hidden rounded-full border-2 border-caqua -translate-x-3"
            >
              <Picture
                src={karla}
                alt="Imagen karla"
                formats={["webp", "jpg"]}
                fallbackFormat="jpg"
                class="object-cover h-full"
              />
            </div>

            <div>
              <h2 class="font-semibold text-cgreen text-right">
                Nuestro equipo
              </h2>
            </div>
          </div>
        </a>
      </div>

      <div class="text-center">
        <Picture
          src={logo}
          alt="Centro amai logo"
          formats={["webp", "jpg"]}
          fallbackFormat="png"
          class="w-2/5 m-auto"
        />
      </div>

      <div class="flex justify-end items-center gap-5">
        <h1 class="font-semibold text-cgreen text-right">
          Agenda tu asesoría de orientación gratis
        </h1>
        <a
          class="hover:opacity-50 transition-opacity duration-300 ease-in-out animate-pop animate-duration-1000 animate-iteration-count-infinite"
          href="https://api.whatsapp.com/send?phone=56959905385"
          rel="noreferrer"
          target="_blank"
        >
          <FaWhatsapp size={42} className="text-[#25D366]" />
        </a>
      </div>
    </div>
  </div>
</div>
