---
import type { IconType } from "react-icons";

interface Props {
  link: string;
  icon: IconType;
}

const { icon: Icon, link } = Astro.props;
---

<a
  class="bg-white text-corange hover:bg-corange hover:text-white p-3 rounded-full duration-300 ease-in-out"
  href={link}
  target="_blank"
  rel="noopener noreferrer"
>
  <Icon size={24} />
</a>
