---
import { teams } from "@/utils/teamsSeed";
import Person from "./Person.astro";
import type { TeamType } from "@/utils/types";

// declare the function
const shuffle = (array: TeamType[]) => {
  for (let i = array.length - 1; i > 0; i--) {
    const j = Math.floor(Math.random() * (i + 1));
    [array[i], array[j]] = [array[j], array[i]];
  }
  return array;
};
---

<!-- Nuestro equipo -->
<div class="flex flex-col items-start mx-20 mt-24 gap-10">
  <h2
    class="text-corange text-xs border-[1px] border-corange rounded-3xl py-1 px-3"
  >
    Nuestro Equipo
  </h2>

  <h2 class="text-4xl font-bold text-white">Nuestros especialistas</h2>
  <div class="grid grid-cols-4 justify-items-center gap-y-10 gap-x-5 w-full">
    {
      teams.map((person: TeamType) => (
        <Person
          name={person.name}
          position={person.position}
          photo={person.photo}
          socials={person.socialLink}
        />
      ))
    }
  </div>
</div>
