---
import FooterSection from "@components/common/footer/FooterSection.astro";
import Head from "@components/common/Head.astro";
import "@fontsource-variable/quicksand";

import "@styles/global.css";
---

<html lang="es" class="scroll-smooth">
  <Head />
  <body
    class="relative flex flex-col min-h-screen bg-linear-to-br from-primary-normal from-50% to-accent-normal antialiased w-full"
  >
    <main id="inicio">
      <slot />
    </main>

    <FooterSection />
  </body>
</html>
