---
import Header from "@components/common/Header.astro";
import "@fontsource-variable/quicksand";

import "@styles/global.css";
---

<html lang="es" class="scroll-smooth">
  <Header />
  <body
    class="relative flex flex-col min-h-screen bg-gradient-to-br from-cbackground from-80% to-cgreen antialiased w-full"
  >
    <slot />
  </body>
</html>
