---
import FooterContent from "./footer_content/FooterContent.astro";
import FooterHeader from "./footer_header/FooterHeader.astro";
---

<footer id="contacto" class="scroll-my-28">
  <div class="bg-white py-5 w-full md:px-8 xl:px-16">
    <FooterHeader />
    <hr />
    <FooterContent />
  </div>

  <script>
    const actualYear = new Date().getFullYear();
    const yearElement = document.getElementById("year");

    if (yearElement) {
      yearElement.textContent = actualYear.toString();
    } else {
      console.log('No se encontró el elemento con id "year"');
    }
  </script>
</footer>
